
.form-content{
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background: rgba(27, 26, 26, 0.4);
    padding: 20px;
    animation: fadeUp 0.6s ease-in-out;
}
@keyframes fadeUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
.data-field{
    padding: 12px 0;
}
.login-title{
    background: linear-gradient(90deg, rgb(4, 246, 222) 40%, rgb(196, 11, 243) 60%, transparent);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
   /* text-shadow: 0 0 2px blueviolet; */
}
.data-field input{
    padding: 10px 0;
    border-bottom: 2px solid wheat;
    outline: none;
    min-width: 400px;
    transition:  0.4s;
    color: rgb(0, 17, 254);
}
.data-field input:focus{
    border-bottom-color: rgb(7, 244, 90);
}

::placeholder{
    color: rgb(168, 163, 163);
}
